@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: black;
    background-image: url(img/AudioMasters.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    display: block;
    height: 100%;
    margin: 0;
}

header{

    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
}

main{
    flex: 1;
}

footer{
    color: whitesmoke;
    text-align: end;
    padding: 10px;
}

/*class*/

.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav-link{
    text-decoration: none;
    color: black;
}

.nav-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.principal-text{
    display: flex;
    justify-content: end;
}

/* animations  */